.chess-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  position: fixed;
  top: 20%;
}

.blur-chessboard {
  /* animation: blur 5s ease; */
  /* animation-fill-mode: forwards; */
}

@keyframes blur {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(8px);
  }
}
