.menu-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30%;
    left: 35%;
    row-gap: 20px;
}

.menu-button {
    font-size: 2em;
    width: 10em;
    height: 2em;
    border-radius: 15px;
    background-color: #f0d9b5;
}

.menu-button:hover {
    background-color: #b58863;
}

input[type=text] {
    border:none;
    border-bottom: 2px solid lightgrey;
    background-color: white;
}

.welcome {
    color: #e0e0e0;
    font-size: 3em;
}
